body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #98777b;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 16px 0;
}

nav {
    background-color: #996666;
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none;
    color:#996666;
    margin: 0 1em;
    font-weight: bold;

}


section {
    padding: 2em;
}

section h2 {
    color: #333;
}

footer {
 
    bottom: 0;
    width: 100%;
}

 /* ... Existing styles ... */


/* Responsive Navigation */
@media only screen and (max-width: 600px) {
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    margin: 1em 0;
}
}

/* Social Media Icons */

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: pink;
    padding: 16px;
    border-radius: 10px;
}

.social-icons li {
margin: 0 10px;
}

.social-icons a {
text-decoration: none;
color: #fff;
font-size: 24px;
}

/* Weather API */
#weather {
float: left;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url("IMG-20231114-WA0025.jpg");
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 72px;
}
.hero_desc {
    font-size: 32px;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#b76e79;
}


.imageAboutPage {
    width: 100%;
}


.servicesText.card {
    height: 280px;
    cursor: pointer;
  }

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}


#footer {
    background-color: #808080;
    text-align: center;
}

#about, #services, #portfolio, #contact {
    margin-top: 64px;
    padding-top: 64px;
}
#contact {
    padding-bottom: 64px;
}





