body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #98777b;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 16px 0;
}

nav {
    background-color: #996666;
    padding: 32;
    text-align: center;
    font-weight: bold;
    color:#fffff;
}

nav a {
    text-decoration: none;
    color:#996666;
    margin: 0 16px;
    font-weight: bold;

}


section {
    padding: 32px;
}

section h2 {
    color: #FFE4E1;
}

footer {
 
    bottom: 0;
    width: 100%;
}


@media only screen and (max-width: 600px) {
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    margin: 1em 0;
}
}

  .social-icons {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0;
    text-align: center;
    margin-top: 20px;
    background-color:  #996666;
    padding: 16px;
    flex-direction: row;
  }

 
  .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .social-icons li {
    margin: 0 10px; 
    margin: 0 10px;
  }

  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    } 

  .social-icons ion-icon {
    font-size: 2em;
  }


.bgimage {
    height:100vh;
    background: url("home.jpg");
    background-size:cover;
    position:relative;
}

#weather{
    border: 5px solid  #996666 ;
    background: #FFE4E1;
   text-align: center;
  }

.hero_title {
    font-size: 72px;
}
.hero_desc {
    font-size: 32px;
    font-weight: bold;
    color:#fffff;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#C08081;
}


.imageAboutPage {
    width: 100%;
}


.servicesText.card {
    height: 280px;
    cursor: pointer;
  }

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
}

.servicesText:hover {
    border: 1px solid #008000;
}


#footer {
    background-color: #808080;
    text-align: center;
}

#about, #services, #weather, #contact {
    margin-top: 64px;
    padding-top: 64px;
}

#thankYouMessage {
            display: none;
            color: green;
            font-weight: bold;
            margin-top: 10px;
        }

#contact {
    padding-bottom: 64px;
}

 #scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #C08081;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }


  #scrollToTopBtn::after {
    content: '\2191'; 
    margin-left: 5px;
  }

  
  #scrollToTopBtn:hover {
    background-color: #C4AEAD;
  }
